/*! Attribution Roshin Nishad 2021 Nov | GetPsyched6 © | MIT License */
@import url(reset.css);
@import url(modals.css);
@import url(input.css);
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap");

@font-face {
	font-family: "binder";
	src: url(../fonts/bstyle_b.woff2);
	font-display: fallback;
}

:root {
	--accent-clr-main: #0599dd;
	--dd-text: "DAYS";
	--hh-text: "HOURS";
	--mm-text: "MINUTES";
	--ss-text: "SECONDS";
	--stop-opacity: 1;
	--modal_one-opacity: 0;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

*::selection {
	background: #0599ddbe; /* Disable this to switch selection color to blue */
}

body {
	-webkit-tap-highlight-color: transparent;
	background-color: #68225e;
	background-color: #00555d;
	background-image: url("../images/Tchompalov_mini.webp");
	background-repeat: repeat;
	background-size: cover;
	font-family: "binder", "calibri";
	font-style: oblique;
	position: relative;
	color: #ffffffec;
	overflow: hidden;
	max-width: 100vw;
}

.wrapper {
	height: 100vh;
	display: flow-root;
	background-color: transparent;
	transition: background-color 400ms ease;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.title h1 {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	font-size: 5.5rem;
	text-align: center;
	opacity: var(--stop-opacity);
	transition: opacity 400ms ease;
}

.mini {
	font-size: 4.25rem;
	text-shadow: 1px 4px 10px #2c2c2c70;
	color: var(--accent-clr-main);
}

.name {
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;
	color: inherit;
	transition: color 400ms ease;
}

.name:hover,
.name:focus-visible {
	color: #05abdd;
}

.name:active {
	transition-duration: 0ms;
	color: #00ffbf;
}

.countdown_container {
	margin-left: -10px;
	opacity: var(--stop-opacity);
}

.countdown {
	font-size: 10rem;
	margin-inline: 8rem;
	position: relative;
	width: 100px;
	text-align: center;
}

.seconds {
	color: var(--accent-clr-main);
}

.countdown::after {
	content: var(--dd-text);
	position: absolute;
	font-size: 3rem;
	bottom: 0;
	left: 35%;
	transform: translate(-50%, 100%);
}

.hours::after {
	content: var(--hh-text);
}

.minutes::after {
	content: var(--mm-text);
}

.seconds::after {
	content: var(--ss-text);
}

.add {
	position: fixed;
	border: 2px solid;
	border-color: #ffffffcb;
	background-color: #ffffff80;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	bottom: 20px;
	right: 20px;
	z-index: 5;
	font-size: 2.5rem;
	color: white;
	font-family: "Nunito", "calibri";
	font-weight: 800;
	font-style: normal;
	text-align: center;
	line-height: 37px;
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;
	opacity: var(--stop-opacity);
	transition: opacity, transform 400ms ease-in-out, border-color,
		background-color, color 150ms ease;
}

.info {
	right: revert;
	left: 20px;
	font-family: "consolas", monospace;
	font-size: 2rem;
	line-height: 42px;
}

.stop {
	bottom: 0px;
	left: 50%;
	right: revert;
	transform: translate(-50%, 60px);
	transform-origin: bottom;
	width: auto;
	height: auto;
	padding: 2.5px 35px;
	line-height: revert;
	border-width: 3px;
	border-radius: 100vw;
	border-color: #ffcee5cb;
	background-color: #ffffff60;
	font-family: "Arial", sans-serif;
	font-weight: 400;
	font-size: 2.5rem;
	opacity: 1;
}

.mute {
	left: 50%;
	right: revert;
	transform: translateX(-50%);
	line-height: revert;
}

.mute > span {
	font-size: 2rem;
}

.add:hover,
.add:focus-visible {
	border: 2px solid;
	border-color: #adffff;
	background-color: #ffffff6c;
	color: #adffff;
}

.add:active {
	color: #d4ffd4f1;
	border-color: #d4ffd4f1;
	background-color: #d3d3d36c;
}

.stop:hover {
	border: 3px solid;
}

.audio_icon {
	font-size: 2rem;
	font-style: oblique;
	transform: translateY(7.5px);
}
.song_name {
	top: 0px;
	position: absolute;
	font-family: "helvetica", sans-serif;
	font-size: 1.5rem;
	font-style: normal;
	transform: translateY(-40px) scaleY(0);
	transform-origin: top;
	transition: transform 800ms ease-in-out;
}

@media screen and (max-width: 94em) {
	.title h1 {
		font-size: 5rem;
		white-space: nowrap;
	}
	.mini {
		font-size: 3.75rem;
	}
	.countdown {
		font-size: 9.5rem;
		margin-inline: 4rem;
		width: 98px;
	}
	.countdown::after {
		font-size: 2.25rem;
	}
}

@media screen and (max-width: 78em) {
	.title h1 {
		font-size: 4.5rem;
		white-space: nowrap;
	}
	.mini {
		font-size: 3.75rem;
	}
	.countdown {
		font-size: 8.5rem;
		margin-inline: 3.25rem;
		width: 90px;
	}
	.countdown::after {
		font-size: 2rem;
	}
}

@media screen and (max-width: 45.5em) {
	.title h1 {
		font-size: 4rem;
		white-space: normal;
	}
	.mini {
		font-size: 4rem;
	}
	.countdown_container {
		margin-left: -13.125px;
	}
	.countdown {
		font-size: 7.5rem;
		margin-inline: 1.75rem;
		width: 80px;
	}
	.countdown::after {
		font-size: 1.75rem;
	}
	.song_name {
		margin-left: -15px;
		font-size: 1.25rem;
	}
}

@media screen and (max-width: 33.2em) {
	.title h1 {
		font-size: 3.85rem;
		white-space: normal;
	}
	.mini {
		font-size: 3.85rem;
	}
	.countdown {
		font-size: 4.8rem;
		margin-inline: 1.25rem;
		width: 45px;
	}
	.countdown::after {
		font-size: 1.6125rem;
	}
}
